/*default settings*/

*{
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/*header-settings*/
.header__wrapper{
    background-image: url('imgs/background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo{
    max-width: 150px;
    max-height: 150px;
    margin: 2em auto 0px auto;
}

.logo__heading{
    margin: 0 auto;
    max-width: 250px;
    color: #ffff;
    text-align: center;
}

.logo__heading__profession{
    margin-top: 0.5em;
    margin-bottom: 2em;
    color: #FFEAAE;
}
.logo-img{
    border-radius: 50%;
}
